<html>
 
  <body>
    <h1>Welcome to my test application <%= @admin.first_name %> <%= @admin.last_name%></h1>
    <p>
      You have successfully signed up to my test application
      your username is: <%= @admin.username %>.<br>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>